<!doctype html>
<html>
  <head>
    <title>File Upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}
</style>
<script>
  function myFunction() {
     var element = document.body;
     element.classList.toggle("dark-mode");
  }
  </script>
  
  </head>
  <body class="dark-mode">
    <h1>PDF Utility. Upload PDF file to split</h1>
    <form method="POST" action="/" enctype="multipart/form-data">
      <input type="hidden" value="{{requestid}}" name="requestid"/>
      <p><input type="file" name="file"></p>
      <br>
      <p>Parts to split : <input type="text" name="parts"></p>
      <br>
      <p><input type="submit" value="Submit"></p>
    </form>
    <hr>
    <br>
    {% if origFile %}
    Orig File :  <a href="{{ url_for('upload', requestid=requestid, filename=origFile) }}">{{origFile}}</a>

    <br>
    Please note that file parts and original file will be deleted in 15 min.
    <br>
    File Parts :

    {% endif %}

    {% for file in files %}
      <br>
      <!--<a href="{{ url_for('upload', requestid=requestid, filename=file) }}"><img src="{{ url_for('upload', requestid=requestid, filename=file) }}" style="width: 64px"></a>-->
      <a href="{{ url_for('upload', requestid=requestid, filename=file) }}">{{file}}</a>
    {% endfor %}
    <br>
    <button onclick="myFunction()">Dark/Light</button>
    <br>
    <i>Developed by : Chaitanya Talpade</i>
  </body>

</html>